*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #eeeeee;
}
.header>.panel{
    width: 22%;
    height: 100%;
    padding: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #01031e;
}
.header>.panel>h2{
    font-size: 32px;
    color: #eeeeee;
}
.header>.panel>.line{
    width: 95%;
    height: 1px;
    margin-top: 26px;
    background-color: #eeeeee;
}
.header>.panel li{
    list-style: none;
    font-size: 24px;
    text-align: right;
    margin: 46px 0;
}
.header>.panel a{
    text-decoration: none;
    color: #dcdcdc;
}
.header>.inner-header{
    width: 78%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header>.inner-header>div:first-of-type{
    width: 99%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid #808080;
    position: relative;
}
.header>.inner-header>div:first-of-type>input{
    font-size: 18px;
    direction: rtl;
    width: 35%;
    height: 40px;
    border-radius: 18px;
    border: none;
    padding-right: 15px;
    outline: none;
    box-shadow: 0 5px 4px -1px grey;
}
#res{
    height: auto;
    position: absolute;
    top: 74%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: #fefefe;
    list-style: none;
    width: 35%;
    border-radius: 21px;
}
#res>li{
    padding: 10px 10px 10px 0;
}
#res>li>a{
    text-decoration: none;
    color: black;
}
.header>.inner-header>div:first-of-type>input::placeholder{
    font-size: 15px;

}
h1{
    margin-top: 10px;
}
.header .input{
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cecece;
    border-radius: 10px;
}
.header .input>div{
    width: 50%;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
}
.header .input>div>input{
    width: 50%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 5px;
    font-size: 17px;
}
.header .input>div>label{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
}
.header .input .add{
    width: 50%;
    height: 40px;
    color: white;
    background-color: #2365de;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin: 15px 0;
    cursor: pointer;
}
.header .back{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 15px 5px;
}
.header .back>a{
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    background-color: #01031e;
    font-size: 18px;
}
.header .header-table{
    border-collapse: collapse;
}
.header .header-table tr:first-of-type td{
    padding: 10px 60px;
    border: 1px solid #01031e;
    font-weight: bold;
}
.header .header-table tr:first-of-type td:last-of-type{
    padding: 10px 30px;
}
.header .header-table tr td{
    padding: 35px 60px;
    border: 1px solid #01031e;
}
.header .header-table tr td:last-of-type{
    padding: 35px 30px;
    text-align: center;
}
.header .header-table tr td:first-of-type>a{
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: #bd0101;
    font-size: 15px;
}
.header .header-table tr td:nth-of-type(2)>a{
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: #d26103;
    font-size: 15px;
}
.header .edit{
    background-color: #d26103;
    width: 50%;
    height: 40px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin: 15px 0;
    cursor: pointer;
}
.menu-num{
    width: 100%;
    height: 7.4%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-num a{
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    background-color: #808080;
    border-radius: 8px;
    margin: 0 8px;
}
